header section{
    align-items: center; /*deixa os elementos centralizados */
    justify-content: space-between; /* dividimos os elementos na tela*/
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li a{
    color: #3399cc;
    margin: 0 15px; /* Espaçamentos entre os itens LI, apenas nas laterais.*/
}